attrs==19.3.0
botocore==1.13.46
chalice==1.12.0
click==7.0
docutils==0.15.2
enum-compat==0.0.3
jmespath==0.9.4
psycopg2-binary==2.8.4
python-dateutil==2.8.1; python_version >= "2.7"
six==1.13.0
sqlalchemy==1.3.12
urllib3==1.25.7; python_version >= "3.4"
wheel==0.33.6
